.colors-black{color:#000000;}
.colors-black-bg{background-color:#000000;}
.colors-write{color:#fff;}
.colors-write-bg{background-color:#fff;}

.colors-grey11{color:#1C1C1C;}
.colors-grey11-bg{background-color:#1C1C1C;}
.colors-grey21{color:#363636;}
.colors-grey21-bg{background-color:#363636;}
.colors-grey31{color:#4F4F4F;}
.colors-grey31-bg{background-color:#4F4F4F;}
.colors-dimgray{color:#696969;}
.colors-dimgray-bg{background-color:#696969;}
.colors-gray{color:#808080;}
.colors-gray-bg{background-color:#808080;}
.colors-darkgray{color:#A9A9A9;}
.colors-darkgray-bg{background-color:#A9A9A9;}
.colors-silver{color:#C0C0C0;}
.colors-silver-bg{background-color:#C0C0C0;}
.colors-lightgrey{color:#D3D3D3;}
.colors-lightgrey-bg{background-color:#D3D3D3;}
.colors-gainsboro{color:#DCDCDC;}
.colors-gainsboro-bg{background-color:#DCDCDC;}
.colors-slateblue{color:#6A5ACD;}
.colors-slateblue-bg{background-color:#6A5ACD;}
.colors-slateblue1{color:#836FFF;}
.colors-slateblue1-bg{background-color:#836FFF;}
.colors-slateblue3{color:#6959CD;}
.colors-slateblue3-bg{background-color:#6959CD;}
.colors-darkslateblue{color:#483D8B;}
.colors-darkslateblue-bg{background-color:#483D8B;}
.colors-midnightblue{color:#191970;}
.colors-midnightblue-bg{background-color:#191970;}
.colors-navy{color:#000080;}
.colors-navy-bg{background-color:#000080;}
.colors-darkblue{color:#00008B;}
.colors-darkblue-bg{background-color:#00008B;}
.colors-mediumblue{color:#0000CD;}
.colors-mediumblue-bg{background-color:#0000CD;}
.colors-blue{color:#0000FF;}
.colors-blue-bg{background-color:#0000FF;}
.colors-cornflowerblue{color:#6495ED;}
.colors-cornflowerblue-bg{background-color:#6495ED;}
.colors-royalblue{color:#4169E1;}
.colors-royalblue-bg{background-color:#4169E1;}
.colors-dodgerblue{color:#1E90FF;}
.colors-dodgerblue-bg{background-color:#1E90FF;}
.colors-deepskyblue{color:#00BFFF;}
.colors-deepskyblue-bg{background-color:#00BFFF;}
.colors-lightskyblue{color:#87CEFA;}
.colors-lightskyblue-bg{background-color:#87CEFA;}
.colors-skyblue{color:#87CEEB;}
.colors-skyblue-bg{background-color:#87CEEB;}
.colors-lightblue{color:#ADD8E6;}
.colors-lightblue-bg{background-color:#ADD8E6;}
.colors-steelblue{color:#4682B4;}
.colors-steelblue-bg{background-color:#4682B4;}
.colors-lightsteelblue{color:#B0C4DE;}
.colors-lightsteelblue-bg{background-color:#B0C4DE;}
.colors-slategray{color:#708090;}
.colors-slategray-bg{background-color:#708090;}
.colors-lightslategray{color:#778899;}
.colors-lightslategray-bg{background-color:#778899;}
.colors-aqua / cyan{color:#00FFFF;}
.colors-aqua / cyan-bg{background-color:#00FFFF;}
.colors-darkturquoise{color:#00CED1;}
.colors-darkturquoise-bg{background-color:#00CED1;}
.colors-turquoise{color:#40E0D0;}
.colors-turquoise-bg{background-color:#40E0D0;}
.colors-mediumturquoise{color:#48D1CC;}
.colors-mediumturquoise-bg{background-color:#48D1CC;}
.colors-lightseagreen{color:#20B2AA;}
.colors-lightseagreen-bg{background-color:#20B2AA;}
.colors-darkcyan{color:#008B8B;}
.colors-darkcyan-bg{background-color:#008B8B;}
.colors-teal{color:#008080;}
.colors-teal-bg{background-color:#008080;}
.colors-aquamarine{color:#7FFFD4;}
.colors-aquamarine-bg{background-color:#7FFFD4;}
.colors-mediumaquamarine{color:#66CDAA;}
.colors-mediumaquamarine-bg{background-color:#66CDAA;}
.colors-cadetblue{color:#5F9EA0;}
.colors-cadetblue-bg{background-color:#5F9EA0;}
.colors-darkslategray{color:#2F4F4F;}
.colors-darkslategray-bg{background-color:#2F4F4F;}
.colors-mediumspringgreen{color:#00FA9A;}
.colors-mediumspringgreen-bg{background-color:#00FA9A;}
.colors-springgreen{color:#00FF7F;}
.colors-springgreen-bg{background-color:#00FF7F;}
.colors-palegreen{color:#98FB98;}
.colors-palegreen-bg{background-color:#98FB98;}
.colors-lightgreen{color:#90EE90;}
.colors-lightgreen-bg{background-color:#90EE90;}
.colors-darkseagreen{color:#8FBC8F;}
.colors-darkseagreen-bg{background-color:#8FBC8F;}
.colors-mediumseagreen{color:#3CB371;}
.colors-mediumseagreen-bg{background-color:#3CB371;}
.colors-seagreen{color:#2E8B57;}
.colors-seagreen-bg{background-color:#2E8B57;}
.colors-darkgreen{color:#006400;}
.colors-darkgreen-bg{background-color:#006400;}
.colors-green{color:#008000;}
.colors-green-bg{background-color:#008000;}
.colors-forestgreen{color:#228B22;}
.colors-forestgreen-bg{background-color:#228B22;}
.colors-limegreen{color:#32CD32;}
.colors-limegreen-bg{background-color:#32CD32;}
.colors-lime{color:#00FF00;}
.colors-lime-bg{background-color:#00FF00;}
.colors-lawngreen{color:#7CFC00;}
.colors-lawngreen-bg{background-color:#7CFC00;}
.colors-chartreuse{color:#7FFF00;}
.colors-chartreuse-bg{background-color:#7FFF00;}
.colors-greenyellow{color:#ADFF2F;}
.colors-greenyellow-bg{background-color:#ADFF2F;}
.colors-yellowgreen{color:#9ACD32;}
.colors-yellowgreen-bg{background-color:#9ACD32;}
.colors-olivedrab{color:6B8E23;}
.colors-olivedrab-bg{background-color:6B8E23;}
.colors-darkolivegreen{color:#556B2F;}
.colors-darkolivegreen-bg{background-color:#556B2F;}
.colors-olive{color:#808000;}
.colors-olive-bg{background-color:#808000;}
.colors-darkkhaki{color:#BDB76B;}
.colors-darkkhaki-bg{background-color:#BDB76B;}
.colors-goldenrod{color:#DAA520;}
.colors-goldenrod-bg{background-color:#DAA520;}
.colors-darkgoldenrod{color:#B8860B;}
.colors-darkgoldenrod-bg{background-color:#B8860B;}
.colors-saddlebrown{color:#8B4513;}
.colors-saddlebrown-bg{background-color:#8B4513;}
.colors-sienna{color:#A0522D;}
.colors-sienna-bg{background-color:#A0522D;}
.colors-rosybrown{color:#BC8F8F;}
.colors-rosybrown-bg{background-color:#BC8F8F;}
.colors-peru{color:#CD853F;}
.colors-peru-bg{background-color:#CD853F;}
.colors-chocolate{color:#D2691E;}
.colors-chocolate-bg{background-color:#D2691E;}
.colors-sandybrown{color:#F4A460;}
.colors-sandybrown-bg{background-color:#F4A460;}
.colors-navajowhite{color:#FFDEAD;}
.colors-navajowhite-bg{background-color:#FFDEAD;}
.colors-wheat{color:#F5DEB3;}
.colors-wheat-bg{background-color:#F5DEB3;}
.colors-burlywood{color:#DEB887;}
.colors-burlywood-bg{background-color:#DEB887;}
.colors-tan{color:#D2B48C;}
.colors-tan-bg{background-color:#D2B48C;}
.colors-mediumslateblue{color:#7B68EE;}
.colors-mediumslateblue-bg{background-color:#7B68EE;}
.colors-mediumpurple{color:#9370DB;}
.colors-mediumpurple-bg{background-color:#9370DB;}
.colors-blueviolet{color:#8A2BE2;}
.colors-blueviolet-bg{background-color:#8A2BE2;}
.colors-indigo{color:#4B0082;}
.colors-indigo-bg{background-color:#4B0082;}
.colors-darkviolet{color:#9400D3;}
.colors-darkviolet-bg{background-color:#9400D3;}
.colors-darkorchid{color:#9932CC;}
.colors-darkorchid-bg{background-color:#9932CC;}
.colors-mediumorchid{color:#BA55D3;}
.colors-mediumorchid-bg{background-color:#BA55D3;}
.colors-purple{color:#A020F0;}
.colors-purple-bg{background-color:#A020F0;}
.colors-darkmagenta{color:#8B008B;}
.colors-darkmagenta-bg{background-color:#8B008B;}
.colors-fuchsia / magenta{color:#FF00FF;}
.colors-fuchsia / magenta-bg{background-color:#FF00FF;}
.colors-violet{color:#EE82EE;}
.colors-violet-bg{background-color:#EE82EE;}
.colors-orchid{color:#DA70D6;}
.colors-orchid-bg{background-color:#DA70D6;}
.colors-plum{color:#DDA0DD;}
.colors-plum-bg{background-color:#DDA0DD;}
.colors-mediumvioletred{color:#C71585;}
.colors-mediumvioletred-bg{background-color:#C71585;}
.colors-deeppink{color:#FF1493;}
.colors-deeppink-bg{background-color:#FF1493;}
.colors-hotpink{color:#FF69B4;}
.colors-hotpink-bg{background-color:#FF69B4;}
.colors-palevioletred{color:#DB7093;}
.colors-palevioletred-bg{background-color:#DB7093;}
.colors-lightpink{color:#FFB6C1;}
.colors-lightpink-bg{background-color:#FFB6C1;}
.colors-pink{color:#FFC0CB;}
.colors-pink-bg{background-color:#FFC0CB;}
.colors-lightcoral{color:#F08080;}
.colors-lightcoral-bg{background-color:#F08080;}
.colors-indianred{color:#CD5C5C;}
.colors-indianred-bg{background-color:#CD5C5C;}
.colors-crimson{color:#DC143C;}
.colors-crimson-bg{background-color:#DC143C;}
.colors-maroon{color:#800000;}
.colors-maroon-bg{background-color:#800000;}
.colors-darkred{color:#8B0000;}
.colors-darkred-bg{background-color:#8B0000;}
.colors-firebrick{color:#B22222;}
.colors-firebrick-bg{background-color:#B22222;}
.colors-brown{color:#A52A2A;}
.colors-brown-bg{background-color:#A52A2A;}
.colors-salmon{color:#FA8072;}
.colors-salmon-bg{background-color:#FA8072;}
.colors-darksalmon{color:#E9967A;}
.colors-darksalmon-bg{background-color:#E9967A;}
.colors-lightsalmon{color:#FFA07A;}
.colors-lightsalmon-bg{background-color:#FFA07A;}
.colors-coral{color:#FF7F50;}
.colors-coral-bg{background-color:#FF7F50;}
.colors-tomato{color:#FF6347;}
.colors-tomato-bg{background-color:#FF6347;}
.colors-red{color:#FF0000;}
.colors-red-bg{background-color:#FF0000;}
.colors-orangered{color:#FF4500;}
.colors-orangered-bg{background-color:#FF4500;}
.colors-darkorange{color:#FF8C00;}
.colors-darkorange-bg{background-color:#FF8C00;}
.colors-orange{color:#FFA500;}
.colors-orange-bg{background-color:#FFA500;}
.colors-gold{color:#FFD700;}
.colors-gold-bg{background-color:#FFD700;}
.colors-yellow{color:#FFFF00;}
.colors-yellow-bg{background-color:#FFFF00;}
.colors-khaki{color:#F0E68C;}
.colors-khaki-bg{background-color:#F0E68C;}
.colors-aliceblue{color:#F0F8FF;}
.colors-aliceblue-bg{background-color:#F0F8FF;}
.colors-ghostwhite{color:#F8F8FF;}
.colors-ghostwhite-bg{background-color:#F8F8FF;}
.colors-snow{color:#FFFAFA;}
.colors-snow-bg{background-color:#FFFAFA;}
.colors-seashell{color:#FFF5EE;}
.colors-seashell-bg{background-color:#FFF5EE;}
.colors-floralwhite{color:#FFFAF0;}
.colors-floralwhite-bg{background-color:#FFFAF0;}
.colors-whitesmoke{color:#F5F5F5;}
.colors-whitesmoke-bg{background-color:#F5F5F5;}
.colors-beige{color:#F5F5DC;}
.colors-beige-bg{background-color:#F5F5DC;}
.colors-oldlace{color:#FDF5E6;}
.colors-oldlace-bg{background-color:#FDF5E6;}
.colors-ivory{color:#FFFFF0;}
.colors-ivory-bg{background-color:#FFFFF0;}
.colors-linen{color:#FAF0E6;}
.colors-linen-bg{background-color:#FAF0E6;}
.colors-cornsilk{color:#FFF8DC;}
.colors-cornsilk-bg{background-color:#FFF8DC;}
.colors-antiquewhite{color:#FAEBD7;}
.colors-antiquewhite-bg{background-color:#FAEBD7;}
.colors-blanchedalmond{color:#FFEBCD;}
.colors-blanchedalmond-bg{background-color:#FFEBCD;}
.colors-bisque{color:#FFE4C4;}
.colors-bisque-bg{background-color:#FFE4C4;}
.colors-lightyellow{color:#FFFFE0;}
.colors-lightyellow-bg{background-color:#FFFFE0;}
.colors-lemonchiffon{color:#FFFACD;}
.colors-lemonchiffon-bg{background-color:#FFFACD;}
.colors-lightgoldenrodyellow{color:#FAFAD2;}
.colors-lightgoldenrodyellow-bg{background-color:#FAFAD2;}
.colors-papayawhip{color:#FFEFD5;}
.colors-papayawhip-bg{background-color:#FFEFD5;}
.colors-peachpuff{color:#FFDAB9;}
.colors-peachpuff-bg{background-color:#FFDAB9;}
.colors-moccasin{color:#FFE4B5;}
.colors-moccasin-bg{background-color:#FFE4B5;}
.colors-palegoldenrod{color:#EEE8AA;}
.colors-palegoldenrod-bg{background-color:#EEE8AA;}
.colors-mistyrose{color:#FFE4E1;}
.colors-mistyrose-bg{background-color:#FFE4E1;}
.colors-lavenderblush{color:#FFF0F5;}
.colors-lavenderblush-bg{background-color:#FFF0F5;}
.colors-lavender{color:#E6E6FA;}
.colors-lavender-bg{background-color:#E6E6FA;}
.colors-thistle{color:#D8BFD8;}
.colors-thistle-bg{background-color:#D8BFD8;}
.colors-azure{color:#F0FFFF;}
.colors-azure-bg{background-color:#F0FFFF;}
.colors-lightcyan{color:#E0FFFF;}
.colors-lightcyan-bg{background-color:#E0FFFF;}
.colors-powderblue{color:#B0E0E6;}
.colors-powderblue-bg{background-color:#B0E0E6;}
.colors-paleturquoise{color:#E0FFFF;}
.colors-paleturquoise-bg{background-color:#E0FFFF;}
.colors-honeydew{color:#F0FFF0;}
.colors-honeydew-bg{background-color:#F0FFF0;}
.colors-mintcream{color:#F5FFFA;}
.colors-mintcream-bg{background-color:#F5FFFA;}
.colors-black{color:#000000;}
.colors-black-bg{background-color:#000000;}
.colors-grey11{color:#1C1C1C;}
.colors-grey11-bg{background-color:#1C1C1C;}
.colors-grey21{color:#363636;}
.colors-grey21-bg{background-color:#363636;}
.colors-grey31{color:#4F4F4F;}
.colors-grey31-bg{background-color:#4F4F4F;}
.colors-dimgray{color:#696969;}
.colors-dimgray-bg{background-color:#696969;}
.colors-gray{color:#808080;}
.colors-gray-bg{background-color:#808080;}
.colors-darkgray{color:#A9A9A9;}
.colors-darkgray-bg{background-color:#A9A9A9;}
.colors-silver{color:#C0C0C0;}
.colors-silver-bg{background-color:#C0C0C0;}
.colors-lightgrey{color:#D3D3D3;}
.colors-lightgrey-bg{background-color:#D3D3D3;}
.colors-gainsboro{color:#DCDCDC;}
.colors-gainsboro-bg{background-color:#DCDCDC;}
.colors-slateblue{color:#6A5ACD;}
.colors-slateblue-bg{background-color:#6A5ACD;}
.colors-slateblue1{color:#836FFF;}
.colors-slateblue1-bg{background-color:#836FFF;}
.colors-slateblue3{color:#6959CD;}
.colors-slateblue3-bg{background-color:#6959CD;}
.colors-darkslateblue{color:#483D8B;}
.colors-darkslateblue-bg{background-color:#483D8B;}
.colors-midnightblue{color:#191970;}
.colors-midnightblue-bg{background-color:#191970;}
.colors-navy{color:#000080;}
.colors-navy-bg{background-color:#000080;}
.colors-darkblue{color:#00008B;}
.colors-darkblue-bg{background-color:#00008B;}
.colors-mediumblue{color:#0000CD;}
.colors-mediumblue-bg{background-color:#0000CD;}
.colors-blue{color:#0000FF;}
.colors-blue-bg{background-color:#0000FF;}
.colors-cornflowerblue{color:#6495ED;}
.colors-cornflowerblue-bg{background-color:#6495ED;}
.colors-royalblue{color:#4169E1;}
.colors-royalblue-bg{background-color:#4169E1;}
.colors-dodgerblue{color:#1E90FF;}
.colors-dodgerblue-bg{background-color:#1E90FF;}
.colors-deepskyblue{color:#00BFFF;}
.colors-deepskyblue-bg{background-color:#00BFFF;}
.colors-lightskyblue{color:#87CEFA;}
.colors-lightskyblue-bg{background-color:#87CEFA;}
.colors-skyblue{color:#87CEEB;}
.colors-skyblue-bg{background-color:#87CEEB;}
.colors-lightblue{color:#ADD8E6;}
.colors-lightblue-bg{background-color:#ADD8E6;}
.colors-steelblue{color:#4682B4;}
.colors-steelblue-bg{background-color:#4682B4;}
.colors-lightsteelblue{color:#B0C4DE;}
.colors-lightsteelblue-bg{background-color:#B0C4DE;}
.colors-slategray{color:#708090;}
.colors-slategray-bg{background-color:#708090;}
.colors-lightslategray{color:#778899;}
.colors-lightslategray-bg{background-color:#778899;}
.colors-aqua / cyan{color:#00FFFF;}
.colors-aqua / cyan-bg{background-color:#00FFFF;}
.colors-darkturquoise{color:#00CED1;}
.colors-darkturquoise-bg{background-color:#00CED1;}
.colors-turquoise{color:#40E0D0;}
.colors-turquoise-bg{background-color:#40E0D0;}
.colors-mediumturquoise{color:#48D1CC;}
.colors-mediumturquoise-bg{background-color:#48D1CC;}
.colors-lightseagreen{color:#20B2AA;}
.colors-lightseagreen-bg{background-color:#20B2AA;}
.colors-darkcyan{color:#008B8B;}
.colors-darkcyan-bg{background-color:#008B8B;}
.colors-teal{color:#008080;}
.colors-teal-bg{background-color:#008080;}
.colors-aquamarine{color:#7FFFD4;}
.colors-aquamarine-bg{background-color:#7FFFD4;}
.colors-mediumaquamarine{color:#66CDAA;}
.colors-mediumaquamarine-bg{background-color:#66CDAA;}
.colors-cadetblue{color:#5F9EA0;}
.colors-cadetblue-bg{background-color:#5F9EA0;}
.colors-darkslategray{color:#2F4F4F;}
.colors-darkslategray-bg{background-color:#2F4F4F;}
.colors-mediumspringgreen{color:#00FA9A;}
.colors-mediumspringgreen-bg{background-color:#00FA9A;}
.colors-springgreen{color:#00FF7F;}
.colors-springgreen-bg{background-color:#00FF7F;}
.colors-palegreen{color:#98FB98;}
.colors-palegreen-bg{background-color:#98FB98;}
.colors-lightgreen{color:#90EE90;}
.colors-lightgreen-bg{background-color:#90EE90;}
.colors-darkseagreen{color:#8FBC8F;}
.colors-darkseagreen-bg{background-color:#8FBC8F;}
.colors-mediumseagreen{color:#3CB371;}
.colors-mediumseagreen-bg{background-color:#3CB371;}
.colors-seagreen{color:#2E8B57;}
.colors-seagreen-bg{background-color:#2E8B57;}
.colors-darkgreen{color:#006400;}
.colors-darkgreen-bg{background-color:#006400;}
.colors-green{color:#008000;}
.colors-green-bg{background-color:#008000;}
.colors-forestgreen{color:#228B22;}
.colors-forestgreen-bg{background-color:#228B22;}
.colors-limegreen{color:#32CD32;}
.colors-limegreen-bg{background-color:#32CD32;}
.colors-lime{color:#00FF00;}
.colors-lime-bg{background-color:#00FF00;}
.colors-lawngreen{color:#7CFC00;}
.colors-lawngreen-bg{background-color:#7CFC00;}
.colors-chartreuse{color:#7FFF00;}
.colors-chartreuse-bg{background-color:#7FFF00;}
.colors-greenyellow{color:#ADFF2F;}
.colors-greenyellow-bg{background-color:#ADFF2F;}
.colors-yellowgreen{color:#9ACD32;}
.colors-yellowgreen-bg{background-color:#9ACD32;}
.colors-olivedrab{color:6B8E23;}
.colors-olivedrab-bg{background-color:6B8E23;}
.colors-darkolivegreen{color:#556B2F;}
.colors-darkolivegreen-bg{background-color:#556B2F;}
.colors-olive{color:#808000;}
.colors-olive-bg{background-color:#808000;}
.colors-darkkhaki{color:#BDB76B;}
.colors-darkkhaki-bg{background-color:#BDB76B;}
.colors-goldenrod{color:#DAA520;}
.colors-goldenrod-bg{background-color:#DAA520;}
.colors-darkgoldenrod{color:#B8860B;}
.colors-darkgoldenrod-bg{background-color:#B8860B;}
.colors-saddlebrown{color:#8B4513;}
.colors-saddlebrown-bg{background-color:#8B4513;}
.colors-sienna{color:#A0522D;}
.colors-sienna-bg{background-color:#A0522D;}
.colors-rosybrown{color:#BC8F8F;}
.colors-rosybrown-bg{background-color:#BC8F8F;}
.colors-peru{color:#CD853F;}
.colors-peru-bg{background-color:#CD853F;}
.colors-chocolate{color:#D2691E;}
.colors-chocolate-bg{background-color:#D2691E;}
.colors-sandybrown{color:#F4A460;}
.colors-sandybrown-bg{background-color:#F4A460;}
.colors-navajowhite{color:#FFDEAD;}
.colors-navajowhite-bg{background-color:#FFDEAD;}
.colors-wheat{color:#F5DEB3;}
.colors-wheat-bg{background-color:#F5DEB3;}
.colors-burlywood{color:#DEB887;}
.colors-burlywood-bg{background-color:#DEB887;}
.colors-tan{color:#D2B48C;}
.colors-tan-bg{background-color:#D2B48C;}
.colors-mediumslateblue{color:#7B68EE;}
.colors-mediumslateblue-bg{background-color:#7B68EE;}
.colors-mediumpurple{color:#9370DB;}
.colors-mediumpurple-bg{background-color:#9370DB;}
.colors-blueviolet{color:#8A2BE2;}
.colors-blueviolet-bg{background-color:#8A2BE2;}
.colors-indigo{color:#4B0082;}
.colors-indigo-bg{background-color:#4B0082;}
.colors-darkviolet{color:#9400D3;}
.colors-darkviolet-bg{background-color:#9400D3;}
.colors-darkorchid{color:#9932CC;}
.colors-darkorchid-bg{background-color:#9932CC;}
.colors-mediumorchid{color:#BA55D3;}
.colors-mediumorchid-bg{background-color:#BA55D3;}
.colors-purple{color:#A020F0;}
.colors-purple-bg{background-color:#A020F0;}
.colors-darkmagenta{color:#8B008B;}
.colors-darkmagenta-bg{background-color:#8B008B;}
.colors-fuchsia / magenta{color:#FF00FF;}
.colors-fuchsia / magenta-bg{background-color:#FF00FF;}
.colors-violet{color:#EE82EE;}
.colors-violet-bg{background-color:#EE82EE;}
.colors-orchid{color:#DA70D6;}
.colors-orchid-bg{background-color:#DA70D6;}
.colors-plum{color:#DDA0DD;}
.colors-plum-bg{background-color:#DDA0DD;}
.colors-mediumvioletred{color:#C71585;}
.colors-mediumvioletred-bg{background-color:#C71585;}
.colors-deeppink{color:#FF1493;}
.colors-deeppink-bg{background-color:#FF1493;}
.colors-hotpink{color:#FF69B4;}
.colors-hotpink-bg{background-color:#FF69B4;}
.colors-palevioletred{color:#DB7093;}
.colors-palevioletred-bg{background-color:#DB7093;}
.colors-lightpink{color:#FFB6C1;}
.colors-lightpink-bg{background-color:#FFB6C1;}
.colors-pink{color:#FFC0CB;}
.colors-pink-bg{background-color:#FFC0CB;}
.colors-lightcoral{color:#F08080;}
.colors-lightcoral-bg{background-color:#F08080;}
.colors-indianred{color:#CD5C5C;}
.colors-indianred-bg{background-color:#CD5C5C;}
.colors-crimson{color:#DC143C;}
.colors-crimson-bg{background-color:#DC143C;}
.colors-maroon{color:#800000;}
.colors-maroon-bg{background-color:#800000;}
.colors-darkred{color:#8B0000;}
.colors-darkred-bg{background-color:#8B0000;}
.colors-firebrick{color:#B22222;}
.colors-firebrick-bg{background-color:#B22222;}
.colors-brown{color:#A52A2A;}
.colors-brown-bg{background-color:#A52A2A;}
.colors-salmon{color:#FA8072;}
.colors-salmon-bg{background-color:#FA8072;}
.colors-darksalmon{color:#E9967A;}
.colors-darksalmon-bg{background-color:#E9967A;}
.colors-lightsalmon{color:#FFA07A;}
.colors-lightsalmon-bg{background-color:#FFA07A;}
.colors-coral{color:#FF7F50;}
.colors-coral-bg{background-color:#FF7F50;}
.colors-tomato{color:#FF6347;}
.colors-tomato-bg{background-color:#FF6347;}
.colors-red{color:#FF0000;}
.colors-red-bg{background-color:#FF0000;}
.colors-orangered{color:#FF4500;}
.colors-orangered-bg{background-color:#FF4500;}
.colors-darkorange{color:#FF8C00;}
.colors-darkorange-bg{background-color:#FF8C00;}
.colors-orange{color:#FFA500;}
.colors-orange-bg{background-color:#FFA500;}
.colors-gold{color:#FFD700;}
.colors-gold-bg{background-color:#FFD700;}
.colors-yellow{color:#FFFF00;}
.colors-yellow-bg{background-color:#FFFF00;}
.colors-khaki{color:#F0E68C;}
.colors-khaki-bg{background-color:#F0E68C;}
.colors-aliceblue{color:#F0F8FF;}
.colors-aliceblue-bg{background-color:#F0F8FF;}
.colors-ghostwhite{color:#F8F8FF;}
.colors-ghostwhite-bg{background-color:#F8F8FF;}
.colors-snow{color:#FFFAFA;}
.colors-snow-bg{background-color:#FFFAFA;}
.colors-seashell{color:#FFF5EE;}
.colors-seashell-bg{background-color:#FFF5EE;}
.colors-floralwhite{color:#FFFAF0;}
.colors-floralwhite-bg{background-color:#FFFAF0;}
.colors-whitesmoke{color:#F5F5F5;}
.colors-whitesmoke-bg{background-color:#F5F5F5;}
.colors-beige{color:#F5F5DC;}
.colors-beige-bg{background-color:#F5F5DC;}
.colors-oldlace{color:#FDF5E6;}
.colors-oldlace-bg{background-color:#FDF5E6;}
.colors-ivory{color:#FFFFF0;}
.colors-ivory-bg{background-color:#FFFFF0;}
.colors-linen{color:#FAF0E6;}
.colors-linen-bg{background-color:#FAF0E6;}
.colors-cornsilk{color:#FFF8DC;}
.colors-cornsilk-bg{background-color:#FFF8DC;}
.colors-antiquewhite{color:#FAEBD7;}
.colors-antiquewhite-bg{background-color:#FAEBD7;}
.colors-blanchedalmond{color:#FFEBCD;}
.colors-blanchedalmond-bg{background-color:#FFEBCD;}
.colors-bisque{color:#FFE4C4;}
.colors-bisque-bg{background-color:#FFE4C4;}
.colors-lightyellow{color:#FFFFE0;}
.colors-lightyellow-bg{background-color:#FFFFE0;}
.colors-lemonchiffon{color:#FFFACD;}
.colors-lemonchiffon-bg{background-color:#FFFACD;}
.colors-lightgoldenrodyellow{color:#FAFAD2;}
.colors-lightgoldenrodyellow-bg{background-color:#FAFAD2;}
.colors-papayawhip{color:#FFEFD5;}
.colors-papayawhip-bg{background-color:#FFEFD5;}
.colors-peachpuff{color:#FFDAB9;}
.colors-peachpuff-bg{background-color:#FFDAB9;}
.colors-moccasin{color:#FFE4B5;}
.colors-moccasin-bg{background-color:#FFE4B5;}
.colors-palegoldenrod{color:#EEE8AA;}
.colors-palegoldenrod-bg{background-color:#EEE8AA;}
.colors-mistyrose{color:#FFE4E1;}
.colors-mistyrose-bg{background-color:#FFE4E1;}
.colors-lavenderblush{color:#FFF0F5;}
.colors-lavenderblush-bg{background-color:#FFF0F5;}
.colors-lavender{color:#E6E6FA;}
.colors-lavender-bg{background-color:#E6E6FA;}
.colors-thistle{color:#D8BFD8;}
.colors-thistle-bg{background-color:#D8BFD8;}
.colors-azure{color:#F0FFFF;}
.colors-azure-bg{background-color:#F0FFFF;}
.colors-lightcyan{color:#E0FFFF;}
.colors-lightcyan-bg{background-color:#E0FFFF;}
.colors-powderblue{color:#B0E0E6;}
.colors-powderblue-bg{background-color:#B0E0E6;}
.colors-paleturquoise{color:#E0FFFF;}
.colors-paleturquoise-bg{background-color:#E0FFFF;}
.colors-honeydew{color:#F0FFF0;}
.colors-honeydew-bg{background-color:#F0FFF0;}
.colors-mintcream{color:#F5FFFA;}
.colors-mintcream-bg{background-color:#F5FFFA;}
