.dd{
    border:1px solid #000
}
.ddr{
    border:1px solid #000;
    background-color:red;
}



.seachAddressView{
    
     position:absolute;
     z-index:50;
    
     height: 100%;
     width: 100%;
     background-color:#000;
     display:none;
     


}

.brand-logo{
    height:80px;
}

/*definicao de cores*/
.theme-colors-btn-defalut-bg{
    background-color:#cbd4e6ff;
}


.theme-colors-btn-defalut-primary-bg{
    background-color:rgb(12, 87, 238);
}

.theme-colors-btn-defalut-primary-bg:hover{
    background-color:red;
}


.theme-colors-btn-defalut-bg-no-hover{
    background-color:#cbd4e6ff;
}



.theme-colors-btn-blue{
    color:rgb(6, 89, 255);
}
.theme-border-black{
    border:1px solid #000
}

.theme-colors-btn-defalut-bg:hover{
    background-color:#fff;
    font-size:18px;
}

.theme-colors-btn-defalut-bg:hover{
    background-color:#fff;
    font-size:18px;
}

.theme-btn-round{
    border-radius: 65px;
    border-radius: 65px !important;
    border-radius: 65px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    behavior: url(border-radius.htc);
}




 .theme-input-round{
    height:60px;
    
}


.theme-input-round-seach{
    margin-top:5px;
    height:55px;
    
}

 
input {
    display: inline-block;
    padding-left: 20px;
  }


.theme-roi-brand-logo-base{
    background:#fff;
}

.theme-roi-base{
    background:#177fbd;
}


.theme-roi-img-flyer{
   position: relative;
   height:630px;
   


}

.theme-btn-round-heigth{
    height:60px;
    width:300px;
}

theme-btn-round-heigth-2{
    height:60px;
    width:300px;
}



 







.theme-btn-round-heigth-title{
   position:relative;
   height:100% ;
   margin-top:13px; 
   text-align:center
}


.theme-back-img-1{
    padding:20px;
    background-size:70% 300px; 
    background-image: url(/img/imagens-qrcode1.png);
    background-repeat: no-repeat;
 }

 .theme-center-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }





 
.fluid-screen{
    width: 1004px;
}


.box-process{
    position:fixed;
    bottom: 0;
    z-index: 2000;
    display: flex;
    background-color:aliceblue;
    display: block;
    width:20%;
    height:16.04%;
    text-align:center;
    color:red;
    border:1px solid #000;
    flex-wrap:wrap;
    


}

.box-process .item{
    position:relative;
    width:100%;
    height:100%;
    flex-basis:   auto;
    justify-content:center;
    align-items:baseline;
    margin: auto; 
    padding: 15%;
}

